<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta http-equiv="cleartype" content="on">
<meta name="CDNURL" content="<%= cdn_url %>">
<meta name="APIRoot" content="<%= api_root %>">
<meta name="ComposerHost" content="<%= composer_host %>">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= tat_static %>images/touch/touch-icon-red-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= tat_static %>images/touch/touch-icon-red-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= tat_static %>images/touch/touch-icon-red-72.png">
<link rel="apple-touch-icon-precomposed" href="<%= tat_static %>images/touch/touch-icon-red-57.png">

<link rel="shortcut icon" sizes="196x196" href="<%= tat_static %>images/logo-transparent-196.png">
<link rel="shortcut icon" href="<%= tat_static %>images/logo-transparent-128.png">

<link rel="stylesheet" href="<%= tat_static %>stylesheets/bootstrap.css">
<link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
<link rel="stylesheet" href="<%= tat_static %>stylesheets/iconfont.css">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="<%= tat_static %>images/touch/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#222222">

<meta name="mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">

<title>八音盒</title>
