<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/rsvp.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/animate.css">
</head>
<body>
    <div class="container rsvp-header">
        <a href="javascript:history.go(-1);"><i class="iconfont icon-arrow-left"></i></a>
    </div>
    <div class="container rsvp-body">
        <div class="rsvp-rsvp-deadline">
            <label>报名截止日期</label>
            <label class="highlight"></label>
        </div>
        <div class="rsvp-rsvp-message"></div>
        <div class="rsvp-rsvp-notice wow bounceInUp">您来晚了，报名已经结束啦<br/>(°□°；)</div>
        <form action="javascript:rsvp_submit();">
            <input name="rsvp-name" id="rsvp-name" type="text" placeholder="请输入您的姓名"/>
            <input name="rsvp-mobile" id="rsvp-mobile" type="tel" placeholder="请输入您的电话"/>
            <div class="rsvp-people">
                <input name="rsvp-people" id="rsvp-people" type="tel"/>
                <label>人到场参加</label>
            </div>
            <button class="rsvp-submit" type="submit">确认参加</button>
        </form>
    </div>
</body>
<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= static_url %>javascripts/global_tool.js"></script>
<script src="<%= static_url %>javascripts/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script>
    //「确认参加」按钮点击事件
    function rsvp_submit() {
        //先验证用户输入的数据是否合法
        if($("#rsvp-name").val().length == 0){
            alert("记得填写姓名哟！");
            return false;
        }
        if($("#rsvp-name").val().length > 20 ){
            alert("姓名太长啦！建议用真实姓名或是故事主人可以识别的昵称哟。");
            return false;
        }
        if($("#rsvp-mobile").val().length == 0){
            alert("记得填写电话哟！");
            return false;
        }
        if(!isMobile($("#rsvp-mobile").val())){
            alert("亲，请填写正确的电话号码，手机号、固话都可以哟。");
            return false;
        }
        if($("#rsvp-people").val().length == 0){
            alert("记得填写参加人数哟！");
            return false;
        }
        if(!isPeople($("#rsvp-people").val())){
            alert("参加人数必须是在 1一999 之间的整数哟。");
            return false;
        }
        //获取用户头像
        $.ajax({
            url: "<%= vu_api_root %>",
            type: "GET",
            headers: {Authorization: "Token <%= token %>"},
            success: function(data) {
                sessionStorage.setItem("rsvp_avatar",data[0].profile.avatar);
                post_data();
            },
            error: function () {
                sessionStorage.setItem("rsvp_avatar","http://up.img.8yinhe.cn/o_19vdmapepac610dm1kgdedj1tlj7.png?imageView2/2/w/1280/q/85");
                post_data();
            }
        })
    }
    function post_data(){
        //会话结束后 sessionStorage 将自动清理 暂无法限制宾客的唯一性，既同一用户可以多次提交
        var avatar = sessionStorage.getItem("rsvp_avatar");
        var name = $("#rsvp-name").val();
        var people = $("#rsvp-people").val();
        var mobile = $("#rsvp-mobile").val();
        $.ajax({
            url: "<%= api_root %>rsvps/guest/",
            type: "POST",
            data: {
                "rsvp": "<%= rsvp_id %>",
                "avatar": avatar,
                "name": name,
                "people": people,
                "mobile": mobile
            },
            success: function (data) {
                alert("您已经成功报名了，记得准时参加哟！");
                history.back();
            },
            error: function () {
                alert("网络开了会小差，请稍后再试\nಥ_ಥ");
            }
        })
    }
    $.ajax({
        url: "<%= api_root %>rsvps/rsvp/<%= rsvp_id %>/",
        type: "GET",
        success: function (data) {
            //获取数据插入页面
            $(".highlight").text(data.deadline);
            $(".rsvp-rsvp-message").html(return2br(data.message));
            if(Date.parse(data.deadline) < Date.parse(get_current_date())){
                //隐藏 form，显示提示信息
                $("form").slideUp("slow");
                $(".rsvp-rsvp-notice").show();
            }
        }
    })
</script>
</html>