<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/rsvp.css">
</head>
<body>
    <div class="container rsvp-header">
        <a href="javascript:history.go(-1);"><i class="iconfont icon-arrow-left"></i></a>
    </div>
    <div class="container rsvp-body">
        <form action="javascript:rsvp_settings_submit();">
            <textarea name="rsvp-message" id="rsvp-message" placeholder="请输入你想要对宾客说的话..."></textarea>
            <div class="rsvp-deadline">
                <label>设定截止日期 :</label>
                <input name="rsvp-deadline" id="rsvp-deadline" type="date"/>
            </div>
            <button class="rsvp-submit" type="submit">提交</button>
        </form>
    </div>
</body>
<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= static_url %>javascripts/global_tool.js"></script>
<script>
    //「提交」按钮点击事件
    function rsvp_settings_submit(){
        var message = $("#rsvp-message").val();
        var deadline = $("#rsvp-deadline").val();
        $.ajax({
            url: "<%= api_root %>rsvps/rsvp/<%= rsvp_id %>/?token=<%= token %>",
            type: "PUT",
            data: {
                "message":message,
                "deadline":deadline
            },
            success: function (data) {
                history.back();
            }
        });
    }
    //从 api 中读取数据
    $.ajax({
        url: "<%= api_root %>rsvps/rsvp/<%= rsvp_id %>/",
        type: "GET",
        success: function (data) {
            if(data.message == null && data.deadline == null){
                //没有数据，这是新建应用，设置默认值
                $("#rsvp-message").val("在这花好月圆、良辰美景之夜，真诚邀请您来参加我们的婚礼。婚礼将于 2015 年 10 月 1 日在王府大酒店举办，恭候各位的佳音！");
                $("#rsvp-deadline").val(get_current_date());
            }else{
                $("#rsvp-message").val(data.message);
                $("#rsvp-deadline").val(data.deadline);
            }
        }
    });
</script>
</html>
