<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/map.css">
</head>
<body>
    <div class="container map-header">
        <a href="javascript:history.go(-1);"><i class="iconfont icon-arrow-left"></i></a>
    </div>
    <div class="container map-body">
        <form action="javascript:map_settings_submit();">
            <textarea name="map-location" id="map-location" placeholder="你们结婚的地点名称，酒店、海滩、会所、草原或者其他有趣的地方"></textarea>
            <textarea name="map-address" id="map-address" placeholder="具体的地址，XX省XX市XX区XX路XX号"></textarea>
            <button class="map-use" type="button" onclick="javascript:use_baidu_map();"><i class="iconfont icon-map"></i> 使用百度地图</button>
            <img class="map-img"/>
            <img class="map-marker" src="<%= static_url %>images/map_marker.png"/>
            <textarea name="map-message" id="map-message" placeholder="这里可以描写一下怎么过来的路线，交通工具、地铁几号口出来、附近有什么显著建筑物之类吧"></textarea>
            <button class="map-submit" type="submit">确定</button>
        </form>
    </div>
</body>
<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script>
    //「使用百度地图」按钮点击事件
    function use_baidu_map(){
        // 首先保存数据到 localStorage
        localStorage.setItem("map_location",$("#map-location").val());
        localStorage.setItem("map_address",$("#map-address").val());
        localStorage.setItem("map_message",$("#map-message").val());
        //跳转到地图标注页面
        var url = "<%= composer_host %>" + "map/mark/";
        window.location.href = encodeURI(url);
    }
    //「确定」按钮点击事件
    function map_settings_submit(){
        var location = $("#map-location").val();
        var address = $("#map-address").val();
        var message = $("#map-message").val();
        var map_lng = localStorage.getItem("map_lng");
        var map_lat = localStorage.getItem("map_lat");
        //删除 localStorage
        localStorage.removeItem("map_location");
        localStorage.removeItem("map_address");
        localStorage.removeItem("map_message");
        localStorage.removeItem("map_lng");
        localStorage.removeItem("map_lat");
        //提交数据到 api
        $.ajax({
            url: "<%= api_root %>" + "maps/map/" + "<%= map_id %>/?token="+"<%= token %>",
            type: "PUT",
            data: {
                "location":location,
                "address":address,
                "message":message,
                "map_lng":map_lng,
                "map_lat":map_lat
            },
            success: function (data) {
                history.back();
            },
            error: function () {
                alert("请填写正确的地址并使用百度地图哟");
            }
        });
    }
    //在地图图片中心显示标注
    function map_marker_display(){
        //根据地图图片高度计算标注的 top
        $(".map-marker").css({"top" : 535 + $(document.body).width() * (216 / 360) / 2 + "px",
                                "display" : "block"});
    }
    //获取地图数据
    if (localStorage.getItem("map_location") == null && localStorage.getItem("map_address") == null && localStorage.getItem("map_message") == null) {
        //从 api 获取数据
        $.ajax({
            url: "<%= api_root %>" + "maps/map/" + "<%= map_id %>/",
            type: "GET",
            success: function (data) {
                $("#map-location").val(data.location);
                $("#map-address").val(data.address);
                $("#map-message").val(data.message);
            }
        });
    }
    else {
        //localStorage 存在，证明用户点击过「使用百度地图」按钮，那么从 localStorage 里读取数据
        $("#map-location").val(localStorage.getItem("map_location"));
        $("#map-address").val(localStorage.getItem("map_address"));
        $("#map-message").val(localStorage.getItem("map_message"));
    }
    //填写地图图片地址
    if (localStorage.getItem("map_lng") == null && localStorage.getItem("map_lat") == null) {
        //localStorage 不存在
        $.ajax({
            url: "<%= api_root %>" + "maps/map/" + "<%= map_id %>/",
            type: "GET",
            success: function (data) {
                if (data.map_lng == null && data.map_lat == null) {
                    //api 没有坐标数据，证明用户第一次设置
                    $(".map-img").attr("src","<%= static_url %>images/map_img.jpg");
                }
                else {
                    //api 里面有数据
                    var map_lng = data.map_lng;
                    var map_lat = data.map_lat;
                    $(".map-img").attr("src","http://api.map.baidu.com/staticimage?center=" + map_lng + "," + map_lat + "&width=360&height=216&zoom=16");
                    map_marker_display();
                }
            }
        });
    }
    else {
        //localStorage 存在，证明用户重新设置过坐标，那么从 localStorage 里读取数据
        var map_lng = localStorage.getItem("map_lng");
        var map_lat = localStorage.getItem("map_lat");
        $(".map-img").attr("src","http://api.map.baidu.com/staticimage?center=" + map_lng + "," + map_lat + "&width=360&height=216&zoom=16");
        map_marker_display();
    }
</script>
</html>